.toolbar{
    padding: 10px;
    background: #f3f5f7;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}
